# Advanced Querying Mongo

Importing libraries and setting up connection

In [6]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost/companies")
db = client.get_database()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [80]:
# Your Codecompanies
query1 = {"name":{"$eq":"Babelgum"}}
solution1 = (db["companies"].find(query, projection={"name":True}))

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [79]:
# Your Code
query2 = ({"number_of_employees":{"$gt":5000}})
solution2 = ((db["companies"].find(query2, projection={"name":True, "number_of_employees":True})).limit(20).sort("number_of_employees",-1))

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [81]:
# Your Code
query3 = {"$and":[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2005}}]}
solution3 = (db["companies"].find(query3, projection={"name":True, "founded_year":True}))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [82]:
# Your Code
query4 = {"$and":[{"ipo.valuation_amount":{"$gt":100000000}}, {"founded_year":{"$lt":2010}}]}
solution4 = (db["companies"].find(query4, projection={"name", "ipo"}))

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [84]:
# Your Code
query5 = {"number_of_employees" : {'$lt': 1000},'founded_year': {'$lt': 2005}}
solution5 = db['companies'].find(query5).sort([("number_of_employees", 1)]).limit(10)

### 6. All the companies that don't include the `partners` field.

In [86]:
# Your Code
query6 = {'partners': {'$exists':True,'$not':{'$size':0}}}
solution6 = db['companies'].find(query6)

### 7. All the companies that have a null type of value on the `category_code` field.

In [87]:
# Your Code
query7 = {'category_code': {'$eq':None}}
solution7 = db['companies'].find(query7)

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [88]:
# Your Code
query8 = {'number_of_employees': {'$gte': 100,'$lt':1000 }}
solution8 = db['companies'].find(query8, {"item": 1, "name": 1, "number_of_employees":1,"_id": 0})

### 9. Order all the companies by their IPO price in a descending order.

In [89]:
# Your Code
query9 = {"ipo.valuation_amount": {'$exists': True}}
solution9 = db['companies'].find(query9).sort([("ipo.valuation_amount",-1)])

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [90]:
# Your Code
query10 = {"number_of_employees": {'$exists': True}}
solution10 = db['companies'].find(query10).sort([("number_of_employees",1)]).limit(10)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [91]:
# Your Code
query11 = {"founded_month": {'$gte':7 ,'$lte':12}}
solution11 = db['companies'].find(query11).sort([("number_of_employees",1)]).limit(1000)

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code
query12 = {"founded_year": {'$lt':2000},"acquisition.price_amount":{'$gt':1000000}}
soluiton12 = db['companies'].find(query12)

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [93]:
# Your Code
query13 = {"acquisition.acquired_year": {'$gt':2010}}
solution13 = db['companies'].find(query13, {"item": 1, "name": 1, "acquisition":1,"_id": 0}).sort([("acquisition.price_amount",1)])

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [94]:
# Your Code
query14 = {"founded_year": { '$exists': True, '$not': {'$size': 0} }}
solution14 = db['companies'].find(query14, {"item": 1, "name": 1, "acquisition":1,"_id": 0}).sort([("founded_year",1)]).limit(100)

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [95]:
# Your Code
query15 = {"founded_day": {'$lte': 7}}
solution15 = db['companies'].find(query15).sort([("acquisition.price_amount",1)]).limit(10)

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code
query16 = {'category_code': {'$eq': 'web'}, 'number_of_employees':{'$gt': 4000}}
solution16 = db['companies'].find(query16).sort([("number_of_employees",1)])

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [96]:
# Your Code
query17 = {"acquisition.price_amount": {'$gt': 10000000}, 'acquisition.price_currency_code': {'$eq': 'USD'}}
solution17 = db['companies'].find(query17)

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [97]:
# Your Code
query18 = {"acquisition.acquired_month": {'$lte': 3}}
solution18 = db['companies'].find(query18, {"item": 1, "name": 1, "acquisition":1,"_id": 0}).limit(10)

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code